@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@font-face {
    font-family: "valorant";
    src: url("fonts/valorant.ttf");
}

body {
    background-color: rgb(1, 17, 31);
    font-family: valorant;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color: white;
    font-size: 80px;
    margin-bottom: 0;
}

#header {
    text-align: center;
    padding-top: 20px;
}

#header-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.line {
    height: 2px;
    width: 150px;
    background-color: #21ebff;
}

.diamond {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #21ebff;
    border-bottom-color: #21ebff;
    transform: rotate(45deg);
    margin: 0 10px; 
}

#social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #21ebff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    background-color: #fd4556;
}

.button img.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}

.button:hover {
    background-color: #1fa9c1;
}

#main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    list-style-type: none;
}

#nav a {
    position: relative;
    color: #21ebff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
}

#nav a:hover {
    background-color: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
}

#nav a:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
    box-sizing: border-box;
}

#nav a:hover:before {
    width: 100%;
    height: 100%;
}

#nav a:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    box-sizing: border-box;

}

#nav a:hover:after {
    width: 100%;
    height: 100%;
}

